$bgColor: $white;
$textColor: $red;

.item {
   position: relative;
   display: table;
   width: 100%;
   margin-top: $space / 2;
   padding: .2rem $space / 2;
   cursor: pointer;
   text-align: left;
   color: $textColor;
   border: none;
   background-color: $bgColor;
   align-items: center;

   &:before,
   &:after,
   & > * {
      display: table-cell;
      vertical-align: middle;
   }

   & > * {
      width: 100%;
   }

   .name {
      word-break: break-all;
      word-break: break-word;
   }

   [data-price]:after,
   &[data-price]:after,
   .price {
      text-align: right;
   }

   &:hover {
      @extend %bold;
   }

   &:before {
      content: "+";
      padding-right: $space / 2;
   }
}

