$moreWidth: 20rem;
$distanceTop: 0;
$bgColor: rgba($red, .9);
$textColor: white;

.more {
   position: absolute;
   display: none;
   top: 1rem;
   left: 0;
   width: $moreWidth;
   padding-top: $markerSize + $distanceTop;

   &:empty { display: none; }

   .content {
      padding: $space;
      background: $bgColor;
      cursor: auto;
      color: $textColor;

      // Arrow
      &:after {
         content: " ";
         position: absolute;
         top: 0;
         left: 50%;
         height: 0;
         width: 0;
         transform: translateY($distanceTop);
         border: solid transparent;
         border-bottom-color: $bgColor;
         border-width: $markerSize / 2;
         margin-left: -$markerSize / 2;
      }
   }

   &.glimpse {
      display: block;
      opacity: 0;
      animation: glimpse 5.5s .5s linear;
   }
}

@keyframes glimpse {
     0% { opacity: 0; }
    18% { opacity: 1; }
    82% { opacity: 1; }
   100% { opacity: 0; }
}
