/*
   Spendenseite
 */


// Imports --------------------------------------

@import "variables";
@import "marker";
@import "item";
@import "more";


// Styles ---------------------------------------

.lead { font-size: 16px; }
.large { font-size: 24px; }
.bold { @extend %bold; }

.highlight {
   @extend .bold;
   @extend .large;
   color: $red;
}

.strike {
   position: relative;
   display: inline-block;
   opacity: 0.7;

   &:after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: -3px;
      right: -3px;
      border-bottom: 2px solid #e22129;
      transform: rotate(-9deg);
   }
}



.invert.invert { // specificity fight
   border: 0;
   background-color: $red;
   color: $white;
}

.hidden { display: none; }

.pull-right { float: right; }
.pull-left { float: left; }

.center {
   text-align: center;

   & > * {
      display: inline-block;
      margin-bottom: $space;
   }
}

.brick {
   width: 25%;
   padding: $space / 2;
   border: 1px dotted $black;

   &.full { width: calc(75% + 4rem); }
   &.slim { padding: 0 1rem; }
}

// Site Styles ----------------------------------

#main .inside { overflow: visible; } // gegen das main stylesheet

#spendenseite { margin-bottom: 32rem; }

h1 { font-size: 28px; }

.lkw {
   position: relative;
   z-index: 10;
}

#svg-lkw {
   width: 100%;
}

.row {
   display: flex;
   justify-content: center;

   & > :not(:first-child) {
      margin-left: $space;
   }
}

.spenden-form {
   margin-bottom: 5rem;
}

.result {
   position: relative;
   display: flex;
   align-items: center;
   padding: 0 1rem;
   will-change: transition;
   border: 2px solid $red;

   .amount,
   .amount:focus {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      box-shadow: none;
      text-align: right;
   }

   .amount:focus ~ .more,
   &:hover .more,
   &.active .more {
      display: block;
   }

   .more {
      transform: translateX(-50%);
      top: 3rem;
      left: 50%;
   }
}

[data-price]:after {
   content: attr(data-price) " €";
   float: right;
}

.donate-button {
   transition: 1s all;

   &[disabled] {
      opacity: 0.3;
      color: $red;
      background-color: $white;
   }
}

.info-buttons a { color: $black; }

.info-block {
   position: relative;

   // Arrow
   &:after {
      content: " ";
      position: absolute;
      top: -2rem;
      left: 50%;
      height: 0;
      width: 0;
      border: solid transparent;
      border-bottom-color: $black;
      border-width: $markerSize / 2;
      margin-left: -$markerSize / 2;
   }

   iframe {
      width: 100%;
      height: 32rem;
   }
}
