/*
   Spendenseite
 */


// Imports --------------------------------------

@import "variables";
@import "marker";
@import "item";
@import "more";


// Styles ---------------------------------------

.lead { font-size: 16px; }
.large { font-size: 24px; }
.bold { @extend %bold; }

.highlight {
   @extend .bold;
   @extend .large;
   color: $red;
}

.strike {
   position: relative;
   display: inline-block;
   opacity: 0.7;

   &:after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: -3px;
      right: -3px;
      border-bottom: 2px solid $red;
      transform: rotate(-9deg);
   }
}

.invert.invert { // specificity fight
   border: 0;
   background-color: $red;
   color: $white;
}

.hidden { display: none; }

.pull-right { float: right; }
.pull-left { float: left; }

.center { text-align: center; }

.brick {
   flex: 1;
   padding: $space / 2;
   border: 1px dotted $black;

   &.full { width: 100%; }
   &.slim { padding: 0 1rem; }
}

// Site Styles ----------------------------------

.navbar-collapse { margin-top: 42px; }
.top-nav-collapse .navbar-collapse { margin-top: 23px; }

// meh ...
.centered-wrapper,
#main > .inside,
#main > .inside > .first > .ce_text {
   overflow: visible;
}


.info-block {
   margin-bottom: 32rem;
   padding: $space;
}

h1 { font-size: 28px; }

.lkw {
   position: relative;
   z-index: 10;
   margin: 3rem 0 4rem;
}

#svg-lkw {
   width: 100%;
}

.donation-row {
   display: flex;
   justify-content: center;
   margin-bottom: 3rem;

   & > :not(:first-child) {
      margin-left: $space;
   }
}

.donation-form {
   flex-wrap: wrap;
   margin-bottom: 4rem;

   .result,
   .donation-button {
      padding: 0 $space;
      margin: 0 1rem 1rem;
   }
}


.result {
   position: relative;
   display: flex;
   align-items: center;
   will-change: transition;
   border: 2px solid $red;

   .amount,
   .amount:focus {
      width: 12rem;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      box-shadow: none;
      text-align: right;
   }

   .amount:focus ~ .more,
   &:hover .more,
   &.active .more {
      display: block;
   }

   .more {
      transform: translateX(-50%);
      top: 2rem;
      left: 50%;
   }

   .item:before {
      content: "-";
   }
}

[data-price]:after {
   content: attr(data-price) "\00a0€";
}

.donation-button {
   transition: 1s all;

   &[disabled] {
      opacity: 0.3;
      color: $red;
      border: 1px dotted $black;
      background-color: $white;
   }
}

.infos {
   width: 50rem;
   max-width: 100%;
   margin: 0 auto;
}

.info-buttons {
   display: flex;
   text-align

   .brick { flex: 1; }
   a { color: $black; }
}

.info-block {
   position: relative;

   .view {
      display: none;

      h3 {
         margin-top: 0;
         margin-bottom: 1.5rem;
      }

      h4 { margin-top: $space; }
   }


   img {
      width: 100%;
      margin-bottom: 1rem;
   }

   .arrow {
      position: absolute;
      top: -2rem;
      left: 50%;
      height: 0;
      width: 0;
      border: solid transparent;
      border-bottom-color: $black;
      border-width: $markerSize / 2;
      margin-left: -$markerSize / 2;
      transition: left .5s;
   }

   &[data-view="0"] .arrow { left: calc(16.5% - .5rem); }
   &[data-view="1"] .arrow { left: 50%; }
   &[data-view="2"] .arrow { left: calc(83.5% + .5rem); }
}

.image-strip {
   float: left;
   margin-right: $space;
   width: 23rem;
}
